a:link {
	color: #FFFFFF;
	font-family: Arial;
	font-size: 10pt;
	font-weight: bold;
	text-decoration: none;
	text-shadow: 3px 3px 2px #666666;
}
a:visited {
	color: #FFFFFF;
	font-family: Arial;
	font-size: 10pt;
	font-weight: bold;
}
a:active {
	color: #800000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: bold;
}
a:hover {
	color: #FF0000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: bold;
}
body {
	font-family: Arial;
	background-color: #000000;
	color: #COCOCO;
	font-size: 10pt;
	background-image: url('bgplating.jpg');
	background-position: center center;
	background-repeat: repeat;
	background-attachment: fixed;
	scrollbar-face-color: silver; /* The draggable bar */;
	scrollbar-track-color: black; /* Background/track */;
	scrollbar-base-color: black;
	scrollbar-arrow-color: silver; /* Optional: arrow buttons */;
	scrollbar-shadow-color: black;
	scrollbar-dark-shadow-color: black;
	scrollbar-highlight-color: black;
}
table {
	table-border-color-light: rgb(33,33,33);
	table-border-color-dark: rgb(33,33,33);
	font-family: Arial;
	font-size: 10pt;
	color: #C0C0C0;
}
/* =========================
   Scrollbar (WebKit only)
   ========================= */
body::-webkit-scrollbar {
	width: 12px;
}
body::-webkit-scrollbar-track {
	background: #000000;
}
body::-webkit-scrollbar-thumb {
	background-color: #999999;
	border-radius: 10px;
}
table {
	border: 1px #323232;
	font-family: Arial, sans-serif;
	font-size: 10pt;
	color: #fff;
}

