a:link {
	color: #999999;
	font-family: Arial;
	font-size: 9pt;
	font-weight: bold;
	text-decoration: none;
	text-shadow: 3px 3px 2px #666666;
}
a:visited {
	color: #999999;
	font-family: Arial;
	font-size: 9pt;
	font-weight: bold;
}
a:active {
	color: #333333;
	font-family: Arial;
	font-size: 9pt;
	font-weight: bold;
}
a:hover {
	color: #FFFFFF;
	font-family: Arial;
	font-size: 9pt;
	font-weight: bold;
	text-decoration: underline;
}
body {
	font-family: Arial;
	background-color: #000000;
	color: #C0C0C0;
	font-size: 10pt;
	background-image: url('bgplating.jpg');
	background-position: center center;
	background-repeat: repeat;
	background-attachment: fixed;
}
table {
	table-border-color-light: rgb(33,33,33);
	table-border-color-dark: rgb(33,33,33);
	font-family: Arial;
	font-size: 9pt;
	color: #C0C0C0;
}
/* =========================
   Scrollbar (WebKit only)
   ========================= */
body::-webkit-scrollbar {
	width: 12px;
}
body::-webkit-scrollbar-track {
	background: #000000;
}
body::-webkit-scrollbar-thumb {
	background-color: #999999;
	border-radius: 10px;
}
table {
	border: 1px #323232;
	font-family: Arial, sans-serif;
	font-size: 10pt;
	color: #fff;
}

