a:link {
	color: #c0c0c0;
	font-family: Arial, sans-serif;
	font-size: 10pt;
	font-weight: bold;
	text-decoration: none;
	text-shadow: 2px 2px 5px #555;
}
a:visited {
	color: #c0c0c0;
	font-family: Arial, sans-serif;
	font-size: 10pt;
	font-weight: bold;
}
a:active {
	color: #333;
	font-family: Arial, sans-serif;
	font-size: 10pt;
	font-weight: bold;
}
a:hover {
	color: #fff;
	font-family: Arial, sans-serif;
	font-size: 10pt;
	font-weight: bold;
	text-decoration: underline;
}
body {
	border-bottom-color: #323232;
	border-right: #323232;
	font-family: Arial, sans-serif;
	background-color: #000;
	color: #e1e1e1;
	font-size: 10pt;
	background-image: url('bgplating.jpg');
	background-position: center center;
	background-repeat: repeat;
	background-attachment: fixed;
	scrollbar-arrow-color: #999;
	scrollbar-base-color: #000;
	scrollbar-dark-shadow-color: #999;
	scrollbar-track-color: #000;
	scrollbar-face-color: #000;
	scrollbar-shadow-color: #999;
	scrollbar-highlight-color: #999;
	border-left-color: #323232;
	border-right-color: #323232;
	border-top-color: #323232;
	outline-color: #323232;
}
table {
	border: thin #e1e1e1 solid;
	border-bottom-color: #e1e1e1;
	border-left-color: #e1e1e1;
	border-right-color: #e1e1e1;
	border-left-style: solid;
	border-bottom-style: solid;
	border-bottom-width: thin;
	border-left-width: thin;
	border-right-style: solid;
	border-right-width: thin;
	border-top-width: thin;
	border-top-color: #e1e1e1;
	border-top-style: solid;
	font-family: Arial, sans-serif;
	font-size: 10pt;
	line-height: inherit;
	outline: #323232 solid thin;
	outline-color: #323232;
	outline-style: solid;
	outline-width: thin;
	table-layout: auto;
	border-spacing: inherit;
	margin: auto auto auto auto;
	color: #e1e1e1;
	margin-bottom: auto;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	padding-bottom: inherit;
	padding-left: inherit;
	padding-right: inherit;
	padding-top: inherit;
	clear: inherit;
	clip: inherit;
	background-attachment: inherit;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	text-decoration: none;
	text-transform: none;
}
/* =========================
   Logo
   ========================= */
.logo {
	margin: 0 auto;
	max-width: 90%;
	height: auto;
}
/* =========================
   Horizontal Rules
   ========================= */
hr {
	border-style: none;
	border-color: inherit;
	border-width: medium;
	border: 0;
	height: 2px;
	margin: 2px 0 0px 0;
}
hr.main {
	background: linear-gradient(to right, #3A3A3A, #D0D0D0, #3A3A3A);
}
hr.sub {
	background: linear-gradient(to right, #1A1A1A, #777777, #1A1A1A);
	opacity: 0.75;
}
